/******** GENERAL ********/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

:root{
    --maincolor : #9356dc;
    --secondcolor : #FF79DA;
    --thirdcolor : #99E2D0;
}

a{
    color: inherit;
    text-decoration: none;
}
  
ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input{
    border: none;
}

/**** GESTION MAIN CONTAINER  ******/

.main-container{
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
}

/******* HEADER ********/


header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo{
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-logo > img{
    width: 100%;
}

/****** GESTION FORM *******/

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EAEAEA;
}

.form-container > input {
    background-color: #EAEAEA;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-container > input::placeholder{
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.form-container > i {
    margin-right: 1rem;
}

/******* INTRODUCTION TEXT *******/

.introduction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #F6F6F6;
    padding-bottom: 4rem;
    
}

.introduction-container > h1{
    margin-top: 2rem;
    text-align: center;
}

.introduction-container > h2{
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}

.introduction-container > button {
    margin-top: 1rem;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
}

/******* FONCTIONNEMENT *****/

.fonctionnement-container{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4rem;
}

.fonctionnement-container > h3{
    margin-top: 2rem;
    margin-left: 1rem;
    
}

.explain-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.explain-card{
    display: flex;
    border: 2px solid black;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.explain-card-text{
    width: 100%;
}

/******* RESTAURANTS ******/

.restaurants-container{
    background-color: #F6F6F6;
    width: 100%;
    padding-bottom: 3rem;
}

.restaurants-container > h3{
    padding-top: 3rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.cards-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.card{
    width: 90%;
    border: 1px solid grey;
    background-color: white;
    
}

.card > img{
    width: 100%;
    height: 231px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

/* FOOTER */

footer{
    background-color: #353535;
    color: white;
    padding-left: 1rem;
}

footer > figure > img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer > ul > li{
    margin-bottom: 5px;
}

