/******** GENERAL ********/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
:root{
    --maincolor : #9356dc;
    --secondcolor : #FF79DA;
    --thirdcolor : #99E2D0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input{
    border: none;
}
/**** GESTION MAIN CONTAINER  ******/
.main-container{
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
}
/******* HEADER ********/
header{
    position: relative;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

nav > h1{
    font-family: 'Shrikhand', serif;
    font-size: x-large;
}

nav > a > i{
    position: absolute;
    left: 2rem;
    top: 25px;
}

.restaurant-presentation{
    width: 100%;
}

.restaurant-presentation > img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
/* MENUS */
.main-menu-container{
    background-color: #F6F6F6;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 1000;
    margin-top: -4rem;
    position: relative;
}

.menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container > h2{
    font-family: 'Shrikhand', serif;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-size: 28px;
}

.heart{
    position: relative;
}

.heart > i{
    font-size: 24px;
}

.like-checkbox {
    display: none; /*  Display NONE pour le checkbox  */
}

.like-label {
    cursor: pointer; /* Changement du curseur au clic */
}

.fa-solid.fa-heart {
    position: absolute; /* Positionnement de notre deuxieme coeur FA-SOLID */
    /* top: 0; */
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Délai de notre animation  */
}

.like-checkbox:checked + .like-label .fa-heart {
    opacity: 0; /* Quand notre checkbox est cliqué alors le premier coeur disparait */
}

.like-checkbox:checked + .like-label .fa-solid.fa-heart {
    opacity: 1;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);/* Couleur de remplissage du cœur */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;/* Couleur de remplissage du coeur */
}
/******* ENTREES ********/
.article-container > h3 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-size: 16px;
    position: relative;
}

h3:after{
    content: "";
    position: absolute;
    bottom: 10px;
    height: 2px;
    background-color: var(--thirdcolor);;
    width: 40px;
    left: 1rem;
}

.article-infos{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 2px rgba(194,194,194,0.75);
    -webkit-box-shadow: 2px 2px 12px 2px rgba(194,194,194,0.75);
    -moz-box-shadow: 2px 2px 12px 2px rgba(194,194,194,0.75);
    position: relative;
    overflow: hidden;
}

.plate-and-price{
    display: flex;
    justify-content: space-between;
    white-space: nowrap; /* Empêcher le texte de passer à la ligne */
    overflow: hidden;
    text-overflow: ellipsis; 
}

.article-infos > h4{
    font-size: 18px;
    font-weight:500;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 3px;
    white-space: nowrap; /* Empêcher le texte de passer à la ligne */
    overflow: hidden;
    text-overflow: ellipsis; 
}

.plate-and-price > p{
    font-size: 15px;
    font-weight: 200;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.plate-and-price > p:nth-child(1){
    overflow: hidden;
    text-overflow: ellipsis;
}

.plate-and-price > p:nth-child(2){
    padding-right: 10px;
    font-weight: bold;
}

.main-menu-container > section:nth-child(2){
    padding-bottom: 1rem;
}

.main-menu-container > section:nth-child(3){
    padding-bottom: 1rem;
}

.article-container{
    margin-top: 1rem;
    cursor: pointer;
}

.article-infos {
    position: relative;
    overflow: hidden;
}

.check-icon {
    color: white;
    font-size:larger;
    position: absolute;
    top: 0;
    right: -50px; /* Position de départ de la coche (cachée à droite) */
    width: 50px;
    height: 100%;
    background-color: #99E2D0;
    transition: right 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-infos:hover .check-icon {
    right: 0; /* Position finale de la coche lorsqu'on survole l'article */
}

.article-infos:hover .plate-and-price {
    transition: padding-right 0.5s ease-in-out;
    padding-right: 50px; /* Ajustez la valeur selon la largeur de votre coche */
}

.article-infos:hover > h4{
    padding-right: 50px;
}

.btn-commander{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

button{
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #de70dc 0%, #be64dc  50%, #a85ddc  100%);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.2s ease-in-out;
}

button:hover{
    filter: brightness(1.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
/****** FOOTER ********/
footer{
    background-color: #353535;
    color: white;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

footer > ul > li{
    padding-bottom: 5px;
}

footer > ul > li:nth-last-child(1){
    margin-bottom: 0;
}

.oh-my-food-footer{
    font-family: 'Shrikhand', serif;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer > ul > li:nth-child(1) > a > i{
    padding-right: 1.4rem;
    font-size: 12px;
}
footer > ul > li:nth-child(2) > a > i{
    padding-right: 1rem;
    font-size: 12px;
}
/* ANIMATION */
.article-container {
    opacity: 0; /* Commencer avec une opacité de 0 */
    transform: translateY(20px); /* Déplacer vers le bas de 20px */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Ajouter une transition pour une apparition en douceur */
}

/* Gestion de l'apparition des animations */
.menu-container {
    animation: fadeInUp 0.5s ease 0.5s forwards;
}

.article-container:nth-child(2) {
    animation: fadeInUp 0.5s ease 1s forwards;
}

.article-container:nth-child(3) {
    animation: fadeInUp 0.5s ease 1.5s forwards;
}

.article-container:nth-child(4) {
    animation: fadeInUp 0.5s ease 2s forwards;
}

/* Keyframe pour mettre l'opacity à 1, Place Initial */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}