@media ( min-width: 1024px) and (max-width: 2560px) {
    /****** GESTION INDEX ******/
    .main-container{
        width: 100%;
        max-width: 2560px;
        box-sizing: border-box;
    }

    .loader-container{
        max-width: 2560px;
        width: 100%;
     }

     .restaurant-presentation > img{
        width: 100%;
        height: 50vh;
    }

    h1{
        font-size: 36px;
        padding-bottom: 1rem;
    }

    .fonctionnement-container > h3{
        padding-left: 12%;
        margin:0;
        margin-top: 2rem;
        text-align: left;
    }
    

    .explain-container{
        margin-right: 5rem;
        margin-left: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .explain-card{
        width: 23%;
    }

    .explain-card-text > p{
        text-align: left;
        margin-left: 1rem;
    }

    .restaurants-container > h3{
        padding-left: 12%;
    }

    .cards-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
    }

    .card{
        width: 35%;
    }

    footer{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .oh-my-food-footer{
        margin-right: 5rem;
        margin-left: 2rem;
    }

    footer > ul{
        width: 100%;
        gap: 25px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    footer > ul > li:nth-child(2) > a{
        padding-right: 1rem;
    }
    /******* GESTION DES MENUS *******/
    .menu-container{
        text-align: center;
    }

    .main-menu-container{
        display: flex;
        flex-direction: column;
        margin-left: 12%;
        margin-right: 12%;
        align-items: center;
    }

    .article-container{
        width: 75%;
    }

    .restaurant-presentation > img {
        /* height: 300px; */
        object-position: 100% 60%;
    }
}