/* Small devices (phones, less than 768px) */
@media ( min-width: 375px) and (max-width: 1024px) {
   .main-container{
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
   }

   .loader-container{
      max-width: 1024px;
      width: 100%;
   }
}